{% for item in access_config %}
set system commit synchronize
set chassis redundancy graceful-switchover
set chassis alarm management-ethernet link-down ignore
set interfaces interface-range TRUST-RANGE member ge-0/0/0
set interfaces interface-range TRUST-RANGE member ge-0/0/1
set interfaces interface-range TRUST-RANGE member ge-0/0/2
set interfaces interface-range TRUST-RANGE member ge-0/0/3
set interfaces interface-range TRUST-RANGE member ge-0/0/4
set interfaces interface-range TRUST-RANGE member ge-0/0/5
set interfaces interface-range TRUST-RANGE member ge-0/0/6
set interfaces interface-range TRUST-RANGE member ge-0/0/7
set interfaces interface-range TRUST-RANGE member ge-0/0/8
set interfaces interface-range TRUST-RANGE member ge-0/0/9
set interfaces interface-range TRUST-RANGE member ge-0/0/10
set interfaces interface-range TRUST-RANGE member ge-0/0/11
set interfaces interface-range TRUST-RANGE member ge-0/0/12
set interfaces interface-range TRUST-RANGE member ge-0/0/13
set interfaces interface-range TRUST-RANGE member ge-0/0/14
set interfaces interface-range TRUST-RANGE member ge-0/0/15
set interfaces interface-range TRUST-RANGE member ge-0/0/16
set interfaces interface-range TRUST-RANGE member ge-0/0/17
set interfaces interface-range TRUST-RANGE member ge-0/0/18
set interfaces interface-range TRUST-RANGE member ge-0/0/19
set interfaces interface-range TRUST-RANGE member ge-0/0/20
set interfaces interface-range TRUST-RANGE member ge-0/0/21
set interfaces interface-range TRUST-RANGE member ge-0/0/22
set interfaces interface-range TRUST-RANGE member ge-0/0/23
set interfaces interface-range TRUST-RANGE member ge-0/0/24
set interfaces interface-range TRUST-RANGE member ge-0/0/25
set interfaces interface-range TRUST-RANGE member ge-0/0/26
set interfaces interface-range TRUST-RANGE member ge-0/0/27
set interfaces interface-range TRUST-RANGE member ge-0/0/28
set interfaces interface-range TRUST-RANGE member ge-0/0/29
set interfaces interface-range TRUST-RANGE member ge-0/0/30
set interfaces interface-range TRUST-RANGE member ge-0/0/31
set interfaces interface-range TRUST-RANGE member ge-0/0/32
set interfaces interface-range TRUST-RANGE member ge-0/0/33
set interfaces interface-range TRUST-RANGE member ge-0/0/34
set interfaces interface-range TRUST-RANGE member ge-0/0/35
set interfaces interface-range TRUST-RANGE member ge-0/0/36
set interfaces interface-range TRUST-RANGE member ge-0/0/37
set interfaces interface-range TRUST-RANGE member ge-0/0/38
set interfaces interface-range TRUST-RANGE member ge-0/0/39
set interfaces interface-range TRUST-RANGE member ge-0/0/40
set interfaces interface-range TRUST-RANGE member ge-0/0/41
set interfaces interface-range TRUST-RANGE member ge-0/0/42
set interfaces interface-range TRUST-RANGE member ge-0/0/43
set interfaces interface-range TRUST-RANGE member ge-0/0/44
set interfaces interface-range TRUST-RANGE member ge-0/0/45
set interfaces interface-range TRUST-RANGE member ge-0/0/46
set interfaces interface-range TRUST-RANGE member ge-0/0/47
set interfaces interface-range TRUST-RANGE unit 0 family ethernet-switching storm-control P-STORM-CONTROL
set interfaces interface-range TRUST-RANGE unit 0 family ethernet-switching interface-mode access
set interfaces interface-range TRUST-RANGE unit 0 family ethernet-switching vlan members trust_access
set interfaces interface-range TRUST-RANGE unit 0 family ethernet-switching recovery-timeout 120
set interfaces irb unit 50 description trust_access
set interfaces irb unit 50 family inet address {{ item.trust_ip }}
set interfaces irb unit 55 description VR_MANAGEMENT
set interfaces irb unit 55 family inet address {{ item.mgmt_ip }}
set protocols ospf area {{ item.ospf_area }} interface irb.50 link-protection
set protocols ospf area {{ item.ospf_area }} interface irb.50 metric 2
set protocols ospf area {{ item.ospf_area }} interface irb.50 hello-interval 3
set protocols ospf area {{ item.ospf_area }} interface irb.50 dead-interval 12
set protocols ospf area {{ item.ospf_area }} interface irb.50 authentication md5 1 key {{ item.ospf_md5 }}
set protocols ospf area {{ item.ospf_area }} interface irb.50 bfd-liveness-detection minimum-interval 1000
set protocols ospf area {{ item.ospf_area }} interface irb.50 bfd-liveness-detection multiplier 2
set protocols ospf area {{ item.ospf_area }} interface irb.50 passive
set protocols lldp interface all
set protocols lldp-med interface TRUST-RANGE
set protocols layer2-control nonstop-bridging
set protocols layer2-control bpdu-block disable-timeout 120
set protocols mstp configuration-name {{ item.city_code }}-STP
set protocols mstp revision-level 1
set protocols mstp bridge-priority 0
set protocols mstp bpdu-block-on-edge
set protocols mstp interface TRUST-RANGE edge
set vlans trust_access vlan-id 50
set vlans trust_access l3-interface irb.50
set vlans trust_access forwarding-options dhcp-security arp-inspection
set poe interface all
set routing-options nonstop-routing
set interfaces interface-range MGMT-RANGE unit 0 family ethernet-switching interface-mode access
set interfaces interface-range MGMT-RANGE unit 0 family ethernet-switching vlan members trust_mgmt
set vlans trust_mgmt vlan-id 55
set vlans trust_mgmt l3-interface irb.55
set routing-instances VR_MGMT instance-type virtual-router
set routing-instances VR_MGMT interface irb.55
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 passive
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 hello-interval 3
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 dead-interval 12
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 authentication md5 1 key {{ item.ospf_md5 }}
{% endfor %}
{% for interface in management_interfaces %}
delete interfaces interface-range TRUST-RANGE member {{ interface }}
set interfaces interface-range MGMT-RANGE member {{ interface }}
{% endfor %}
