{% for item in access_mgmt_config %}
set interfaces irb unit 55 description VR_MANAGEMENT
set interfaces irb unit 55 family inet address {{ item.mgmt_ip }}
set interfaces interface-range MGMT-RANGE unit 0 family ethernet-switching interface-mode access
set interfaces interface-range MGMT-RANGE unit 0 family ethernet-switching vlan members trust_mgmt
set vlans trust_mgmt vlan-id 55
set vlans trust_mgmt l3-interface irb.55
set routing-instances VR_MGMT instance-type virtual-router
set routing-instances VR_MGMT interface irb.55
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 passive
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 hello-interval 3
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 dead-interval 12
set routing-instances VR_MGMT protocols ospf area {{ item.ospf_area }} interface irb.55 authentication md5 1 key {{ item.ospf_md5 }}
set protocols mstp interface MGMT-RANGE edge
{% endfor %}
{% for interface in management_interfaces %}
delete interfaces interface-range TRUST-RANGE member {{ interface }}
set interfaces interface-range MGMT-RANGE member {{ interface }}
{% endfor %}
