{% for item in access_printer_config %}
set interfaces irb unit 57 description Printers
set interfaces irb unit 57 family inet address {{ item.printer_gw_ip }}
set protocols ospf area {{ item.ospf_area }} interface irb.57 passive
set protocols ospf area {{ item.ospf_area }} interface irb.57 hello-interval 3
set protocols ospf area {{ item.ospf_area }} interface irb.57 dead-interval 12
set protocols ospf area {{ item.ospf_area }} interface irb.57 authentication md5 1 key {{ item.ospf_md5 }}
set vlans trust_printers vlan-id 57
set vlans trust_printers l3-interface irb.57
{% endfor %}
{% for interface in printer_interfaces %}
delete interfaces interface-range TRUST-RANGE member {{ interface }}
set interfaces interface-range PRINTER-RANGE member {{ interface }}
{% endfor %}
