{% for item in junos_pub_sw_config %}
set interfaces interface-range disabled-range member-range ge-0/1/0 to ge-0/1/1
set interfaces interface-range disabled-range member-range ge-0/0/3 to ge-0/0/11
set interfaces interface-range disabled-range disable
set interfaces ge-0/0/0 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/0 unit 0 family ethernet-switching vlan members untrust_internet
set interfaces ge-0/0/1 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/1 unit 0 family ethernet-switching vlan members untrust_internet
set interfaces ge-0/0/2 unit 0 family ethernet-switching interface-mode access
set interfaces ge-0/0/2 unit 0 family ethernet-switching vlan members untrust_internet
set interfaces me0 unit 0 family inet address {{ item.mgmt_ip }}{{ item.mgmt_mask }}
set protocols mstp configuration-name {{ item.city_code }}-PUB-STP
set protocols mstp revision-level 1
set protocols mstp interface ge-0/0/0 edge
set protocols mstp interface ge-0/0/1 edge
set protocols mstp interface ge-0/0/2 edge
set protocols mstp bpdu-block-on-edge
set protocols lldp disable
set vlans untrust_internet vlan-id 4001
set routing-options static route 0.0.0.0/0 next-hop {{ item.mgmt_gw }}
{% endfor %}
